/* DONE: Give the site header a nice background color, from your selected color scheme. */

.site-header {
  padding: .1em;
  margin: 0em;
  background-color: #99ffcc;
  color: gray;
  width: 100%;
}

.main-nav {
  padding: 0;
  list-style: none;
  clear: both;
}

.main-nav li {
  margin-right: .4em;
  font-size: 1.5em;
  padding: .5em .2em;
  border-bottom: 1px solid #ccc;
}

.main-nav {
  width: 100%;
}
.main-nav ul {
    list-style: none;
    text-decoration: none;
}

.main-nav ul li {
  text-decoration: none;
  background-color: #ffcc99;
  color: #8585ad;
  display: inline-block;
  width: 100%;
  margin-bottom: 0px;
}

/* DONE: Style the filters so they look good on small screens:
    Use the full width, and remove the list bullet. */

#filters {
  padding: 0;
  display: inline;
  width: 40%;
}

#filters select {
  width: 100%;
  display: inline;
}

@media screen and (min-width: 400px) {

  #filters select {
    width: 45%;
    display: inline;
  }
}

.template {
  display: none;
}

.byline {
  color: #777;
}

.byline a {
  font-weight: bold;
  text-decoration: none;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}
